.about {
    height: 100%;
    margin: 10% 10%;
    // display: inline-flex;
}

#header {
    padding-top: 20%;
}

.about-content {
    display: flex;
    margin-top: 5%;
}

#about-self {
    width: 30%;
    height: 70%;
}

.intro {
    margin-left: 10%;
    font-size: 1em;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

#sub {
    color: darkgray;
    font-size: 1em;
}

#text {
    margin-top: 5%;
}

#no-margin-bottom {
    margin-bottom: 0;
}

#no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

#github-link {
    padding-left: 2%;
    color: darkgray;
    text-decoration-line: underline;
}

#button {
    margin-top: 2%;
}

#auto-typing {
    margin-top: 7%;
    text-align: center;
    font-size: 1.5em;
}

#auto-font {
    font-family: fantasy;
}