.carousel {
    display: flex;
    justify-content: center;
}

.carousel-container {
    position: relative;
}

.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#image {
    height: 50%;
    width: 50%;
}
