.contact {
    height: 100%;
    margin: 10% 10%;
    // display: inline-flex;
}

#header {
    padding-top: 20%;
}

.form-container {
    margin: 5% 10% 0 10%;
}

#message {
    background-color: white;
}

#alert {
    margin-top: 5%;
}
