.home {
    height: 100%;
    margin: 10% 10%;
    // display: inline-flex;
}

#header {
    padding-top: 20%;
}

.intro-container {
    margin-top: 15%;
}

#intro-title{ 
    text-align: center;
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#intro-sub {
    text-align: center;
    font-size: 2.5em;
}

#home-copyright {
    margin-top: 20%;
}
