.portfolio {
    height: 100%;
    margin: 10% 10%;
    // display: inline-flex;
}

#header {
    padding-top: 20%;
}

.gallery-intro {
    margin-left: 0%;
    margin-top: 5%;
    text-align: center;
}

#gallery-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

#gallery-sub {
    color: darkgray;
    font-size: 1em;
}

.card-container {
    margin-top: 5%;
}

#card-group {
    display: flex;
    justify-content: center;
}

#description {
    margin-top: 2%;
}

#back-to-top {
    float: right;
}
